
.about-me-container {
    background-color: @negro-second;
    display: flex;
    font-family: @ubuntu-font;
    color: #ffffff;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    padding-top: 10rem;
    padding-bottom: 10rem;

    @media only screen and (max-width: 70rem) {
        padding-bottom: 8rem;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-top: 3rem;
        }
        .about-me-h3 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .about-me-text {
            padding-top: 5px;
            width: 100%;
        }
}

.me-photo {
    width: 22rem;
}